.git
.github
.plans
.pytest_cache
.venv
.env
__pycache__
*.pyc
*.pyo
*.pyd

tests
website
landingpage
docs
plans
optional-skills
skills
node_modules
tinker-atropos
mini-swe-agent

package-lock.json
uv.lock
PLAN-*.md
